body {
  background-color: white;
}

a {
  text-decoration: none;
}

#header {
  background-color: #e7ebef;
}

#headingGroup {
  font-size: 48px;
  font-weight: 300;
  padding-bottom: 2rem;
}

h1 {
  font-size: 4rem;
  font-weight: 250;
}
